@using BlazorRealworld

<ul class="error-messages">
    @foreach (var error in Errors?.username ?? new string[0])
    {
        <li>The username @error.</li>
    }
    @foreach (var error in Errors?.email ?? new string[0])
    {
        <li>The email address @error.</li>
    }
    @foreach (var error in Errors?.password ?? new string[0])
    {
        <li>The password @error.</li>
    }
</ul>

@functions {
    public Errors Errors { get; set; }
}
