@page "/signin"
@using BlazorRealworld.Model
    @inject ApiClient api
    @inject AppState state
    @inject IUriHelper uriHelper

    <div class="auth-page">
        <div class="container page">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <h1 class="text-xs-center">Sign in</h1>
                    <p class="text-xs-center">
                        <a href="/signup">Need an account?</a>
                    </p>
                    @if (isError)
                    {
                        <ul class="error-messages">
                            <li>The email address or password is wrong.</li>
                        </ul>
                    }
                    <form>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="email" placeholder="Email" @bind(userModel.email)>
                        </fieldset>
                        <fieldset class="form-group">
                            <input class="form-control form-control-lg" type="password" placeholder="Password" @bind(userModel.password)>
                        </fieldset>
                        <button class="btn btn-lg btn-primary pull-xs-right" type="submit" @onclick(async () => await Submit())>
                            Sign in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

@functions {
    UserModel userModel = new UserModel();
    bool isError = false;

    async Task Submit()
    {
        var response = await api.SignInAsync(userModel);
        var user = response.user;

        if (user != null)
        {
            state.UpdateUser(user);
            RegisteredFunction.Invoke<bool>("saveToken", user.token);
            uriHelper.NavigateTo("/");
        }
        else
        {
            isError = true;
            StateHasChanged();
        }
    }
}